@font-face {
  font-family: "Predator-Regular";
  src: url("../fonts/Predator-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Predator-Regular.otf") format("opentype"),
    url("../fonts/Predator-Regular.woff") format("woff"),
    url("../fonts/Predator-Regular.ttf") format("truetype"),
    url("../fonts/Predator-Regular.svg#Predator-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Predator-Bold";
  src: url("../fonts/Predator-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Predator-Bold.otf") format("opentype"),
    url("../fonts/Predator-Bold.woff") format("woff"),
    url("../fonts/Predator-Bold.ttf") format("truetype"),
    url("../fonts/Predator-Bold.svg#Predator-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Predator-Light";
  src: url("../fonts/Predator-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Predator-Light.otf") format("opentype"),
    url("../fonts/Predator-Light.woff") format("woff"),
    url("../fonts/Predator-Light.ttf") format("truetype"),
    url("../fonts/Predator-Light.svg#Predator-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KittithadaBold75F";
  src: url("../fonts/KittithadaBold75F.eot?#iefix") format("embedded-opentype"),
    url("../fonts/KittithadaBold75F.woff") format("woff"),
    url("../fonts/KittithadaBold75F.ttf") format("truetype"),
    url("../fonts/KittithadaBold75F.svg#KittithadaBold75F") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
  font-family: "Predator-Regular", "KittithadaBold75F", Arial, Helvetica,
    sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 100vh;
}
.views:not(.view-open) .item__img:hover {
  box-shadow: 0 0 0 4px #ffff00;
}
.item--boxdoor {
  top: 52.5%;
  left: 41.9%;
}
.item--boxdoor .item__img {
  width: 16.4vw;
  height: auto;
}
.item--information {
  top: 59.5%;
  left: 19.9%;
}
.item--information .item__img {
  width: 26vw;
  height: auto;
}
.item--to-live {
  top: 32.5%;
  left: 27%;
}
.item--to-live .item__img {
  width: 17vw;
  height: auto;
}
.item--openlive {
  top: 26.5%;
  left: 22%;
}
.item--openlive .item__img {
  width: 26vw;
  height: auto;
}
.modal-dialog.full-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.modal-dialog .modal-content {
  background-color: transparent;
  box-shadow: none;
}
.box-register {
  width: 550px;
  min-height: 300px;
  background-image: url("../img/popup_reg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 3rem;
  position: relative;
}
.box-register-modal {
  width: 550px;
  min-height: 350px;
  background-image: url("../img/entrance/bg_modal.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  padding: 8px;
}
.box-register .title-register {
  font-family: "Predator-Bold";
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #ffffff;
}
.box-yotube {
  width: 550px;
  min-height: 400px;
  background-image: url("../img/popup_reg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 3rem;
  position: relative;
}
.box-yotube .title-register {
  font-family: "Predator-Bold";
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #ffffff;
}
.item.item--popup::before {
  opacity: 0;
}
.item--popup .button--close {
  opacity: 0;
}
/* .item--boxdoor.item--popup {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.item::before {
  background-color: transparent;
}
.item--boxdoor.item--popup .item__info{
  width: 500px;
  height: 500px;
  background-image: url('../img/popup_reg.png');
} */
.box-register label {
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
}
.box-register label span {
  font-size: 24px;
  line-height: 30px;
  font-family: "KittithadaBold75F";
}
.box-register input.form-control {
  font-family: "KittithadaBold75F";
  font-size: 24px;
  line-height: 24px;
  height: 100%;
  border-radius: 0.15rem;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.box-register .custom-control.custom-checkbox label,
.box-register .custom-control.custom-checkbox a,
.box-register .custom-control.custom-checkbox span {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #ffffff;
}
.btn-reg {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: none;
  background-color: transparent;
  background-image: url("../img/bg_btnRegister.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 14px;
  font-weight: bold;
}
.ul-list-infomation {
  list-style-type: none;
}
.ul-list-infomation li {
  display: block;
}
.ul-list-infomation li a {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: block;
  padding-left: 3rem;
  background-image: url("../img/icon_arrow.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 35px auto;
  color: #ffffff;
}

.contain-slideshow {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.for-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}

/*Amination*/

.information_slideshow.hide_zoom,
.shop_slideshow.hide_zoom {
  -moz-opacity: 0;
  opacity: 0;
  -moz-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  -o-transform: scale(1.9);
  -ms-transform: scale(1.9);
  transform: scale(1.9);
}
.front_live_slideshow {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 90%;
  -moz-transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -o-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
}
.shop_predator {
}
.shop_predator.open_zoomin {
  opacity: 1;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.front_live_slideshow.open_zoomin {
  opacity: 1;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.relative {
  position: relative;
  width: 100%;
  height: 100%;
}
.fancybox-container {
  right: 0;
  width: 100vw;
  height: 100vh;
}
.shop_slideshow {
  right: 100%;
  left: -100%;
}
.tvscreen_slideshow {
  left: 100%;
  right: -100%;
}
.slide_center {
  left: 0;
  right: 0;
}
.slide_right {
  left: 100%;
  right: -100%;
}
.slide_left {
  left: -100%;
  right: 100%;
}

/*Navigation*/
.tab-navigation {
  position: absolute;
  z-index: 1001;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tab-navigation .btn-nav p {
  color: #ffffff;
  font-size: 20px;
}
.tab-navigation .btn-nav:hover p {
  color: #ffff00;
}
.tab-navigation .btn-nav .box-arrow {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
/*Navigation Bottom*/
.tab-navigation.tab-navigation-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.tab-navigation.tab-navigation-bottom .btn-nav.btn-nav-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-navigation.tab-navigation-bottom .btn-nav.btn-nav-bottom .box-arrow {
  background-image: url("../img/arrow_bottom.png");
}
.tab-navigation.tab-navigation-bottom .btn-nav.btn-nav-bottom:hover .box-arrow {
  background-image: url("../img/arrow_bottom_hover.png");
}
/*Navigation Left*/
.tab-navigation.tab-navigation-left {
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
}
.tab-navigation.tab-navigation-left .btn-nav.btn-nav-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-navigation.tab-navigation-left .btn-nav.btn-nav-left .box-arrow {
  background-image: url("../img/arrow_left.png");
}
.tab-navigation.tab-navigation-left .btn-nav.btn-nav-left:hover .box-arrow {
  background-image: url("../img/arrow_left_hover.png");
}
/*Navigation Right*/
.tab-navigation.tab-navigation-right {
  top: 0;
  bottom: 0;
  right: 0;
  margin-right: 1rem;
}
.tab-navigation.tab-navigation-right .btn-nav.btn-nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-navigation.tab-navigation-right .btn-nav.btn-nav-right .box-arrow {
  background-image: url("../img/arrow_right.png");
}
.tab-navigation.tab-navigation-right .btn-nav.btn-nav-right:hover .box-arrow {
  background-image: url("../img/arrow_right_hover.png");
}

/*TV screen*/
.item--link1 {
  top: 31%;
  left: 9%;
}
.item--link1 img {
  width: 15vw;
  height: auto;
}
.item--link2 {
  top: 27%;
  left: 53.5%;
}
.item--link2 img {
  width: 13vw;
  height: auto;
}
.item--link3 {
  top: 53%;
  left: 10.5%;
}
.item--link3 img {
  width: 12.5vw;
  height: auto;
}
.item--link4 {
  top: 47.5%;
  left: 50.5%;
}
.item--link4 img {
  width: 17.5vw;
  height: auto;
}
.item--link.item--popup .button--close {
  opacity: 1;
}
.landscap-txt {
  display: none;
}

.section-login {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.absolute-contain-bg-img {
  position: absolute;
  left: 0;
  right: 0;
}
.relative-contain-bg-img {
  position: relative;
}
.img-full-bg {
  width: 100%;
}
.section-login .absolute-contain-bg-img {
  bottom: 0;
}
.box-cotain-arrow-entrance {
  position: absolute;
  top: 53%;
  left: 54%;
  width: 17vw;
  height: 23vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@keyframes blinkimg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.box-cotain-arrow-entrance img {
  width: 130px;
  /* animation-name: blinkimg;
  animation-duration: 0.7s;
  animation-delay: 1s;
  animation-iteration-count: infinite; */
}
.img-information-center {
  position: absolute;
  top: 75%;
  left: 48%;
  width: 3vw;
  cursor: pointer;
}
.img-information-left {
  position: absolute;
  top: 77%;
  left: 58%;
  width: 3vw;
  cursor: pointer;
}
.img-information-right {
  position: absolute;
  top: 77%;
  left: 39%;
  width: 3vw;
  cursor: pointer;
}
.img-live-icon-center {
  position: absolute;
  top: 45%;
  left: 48%;
  width: 5vw;
  cursor: pointer;
}
.img-live-icon-left {
  position: absolute;
  top: 45%;
  left: 75%;
  width: 5vw;
  cursor: pointer;
}
.img-live-icon-right {
  position: absolute;
  top: 45%;
  left: 25%;
  width: 5vw;
  cursor: pointer;
}
.img-mouseshop-icon-left {
  position: absolute;
  top: 55%;
  left: 20%;
  width: 6vw;
}
.img-mouseshop-icon-right {
  position: absolute;
  top: 53%;
  left: 67%;
  width: 6vw;
}

.img-live-icon-frontlive {
  position: absolute;
  top: 53%;
  left: 48%;
  width: 7vw;
  cursor: pointer;
}
.img-youtube-link-1 {
  position: absolute;
  top: 42.8%;
  left: 32.8%;
  width: 3.5vw;
}
.img-youtube-link-2 {
  position: absolute;
  top: 37.5%;
  left: 68%;
  width: 3.5vw;
}
.img-youtube-link-3 {
  position: absolute;
  top: 68%;
  left: 33%;
  width: 3.5vw;
}
.img-youtube-link-4 {
  position: absolute;
  top: 65.5%;
  left: 68.5%;
  width: 3.5vw;
}
.img-notebook-left {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 2.5vw;
}
.img-notebook-center {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 2.5vw;
}
.img-notebook-right {
  position: absolute;
  top: 60%;
  left: 78%;
  width: 2.5vw;
}
.box-triton300-close, .box-triton500-close {
  position: absolute;
  top: 3%;
  left: 78%;
  width: 50px;
  height: 50px;
}
.box-triton300, .box-triton500 {
  position: absolute;
  top: 21%;
  left: 48%;
  width: 40%;
  height: 650px;
}
.box-triton300-buy, .box-triton500-buy {
  position: absolute;
  bottom: 2.5%;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.box-triton300-buy img, .box-triton500-buy img{
  width: 27%;
}

.box-heiios300-close {
  position: absolute;
  top: 3%;
  left: 77%;
  width: 50px;
  height: 50px;
}
.box-heiios300 {
  position: absolute;
  top: 21%;
  left: 16%;
  width: 40%;
  height: 650px;
}
.box-heiios300-buy {
  position: absolute;
  bottom: 2.5%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
.box-heiios300-buy img{
  width: 27%;
}
.nav-pills .nav-link.tab-pubg {
  height: 63px;
  border-radius: 0;
  background-color: transparent;
}
.nav-pills .nav-link.tab-pubg.register {
  background-image: url("../img/entrance/reg.jpg");
  background-size: 100% 100%;
}
.nav-pills .nav-link.tab-pubg.register.active {
  background-image: url("../img/entrance/reg_active.jpg");
}
.nav-pills .nav-link.tab-pubg.login {
  background-image: url("../img/entrance/login.jpg");
  background-size: 100% 100%;
}
.nav-pills .nav-link.tab-pubg.login.active {
  background-image: url("../img/entrance/login_active.jpg");
}
.datepicker-container {
  z-index: 1100 !important;
}
.img-logout-icon {
  position: fixed;
  right: 1rem;
  top: 1rem;
  width: 50px;
  height: auto;
  z-index: 1200;
}
.modal-titon300, .modal-titon500{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 35%;
}
.modal-heiios300{
  position: absolute;
  top: 10%;
  left: 18%;
  width: 35%;
}

.modal-product{
  width: 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 550px;
  }
  .modal-dialog.modal-dialog-youtube {
    max-width: 800px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .landscap-txt {
    text-align: center;
    display: block;
    color: #ffffff;
  }
  .landscap-txt span {
    font-size: 25px;
  }
  .contain-slideshow {
    display: none;
  }
  .section-login{
    display: none;
  }
}
@media (max-width: 767px) {
  .tab-navigation .btn-nav p {
    display: none;
  }
  .tab-navigation .btn-nav .box-arrow{
    width: 40px;
    height: 40px;
  }
  .tab-navigation.tab-navigation-right .btn-nav.btn-nav-right{
    align-items: flex-end;
  }
  .tab-navigation.tab-navigation-left .btn-nav.btn-nav-left{
    align-items: flex-start;
  }
  .img-logout-icon{
    width: 40px;
  }
  .box-triton300-close img, .box-triton500-close img{
    width: 10px
  }
  .box-triton300-buy img, .box-triton500-buy img, .box-heiios300-buy img{
    width: 32%;
  }
  .box-heiios300-close img{
    width: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .contain-slideshow {
    /* display: none; */
    height: 40vh;
  }
}
@media (max-width: 911px) {
  
  .modal-dialog.full-screen {
    height: auto;
  }
  .for-absolute {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slideshow {
    /* display: none; */
    overflow: unset;
  }
  .slideshow {
    height: 50vh;
  }
  .scene {
    height: 50vh;
  }
  .slide {
    height: 50vh;
  }
  .item--information .item__img {
    width: 13.2vw;
  }
  .item {
    box-shadow: 0 0 0 2px #ffff00;
  }
  .item__info {
    display: none;
  }
  .item--to-live .item__img {
    width: 9vw;
  }
  .item--link1 img {
    width: 8vw;
  }
  .item--link2 img {
    width: 7vw;
  }
  .item--link3 img {
    width: 7vw;
  }
  .item--link4 img {
    width: 9vw;
  }
  .item--boxdoor .item__img {
    width: 8.5vw;
  }
  .tab-navigation.tab-navigation-bottom {
    bottom: auto;
    top: 100%;
  }
  .item--openlive .item__img {
    width: 13vw;
  }
  .tab-navigation .btn-nav .box-arrow{
    width: 40px;
    height: 40px;
  }
  .tab-navigation .btn-nav p{
    font-size: 13px;
  }
}
@media (min-width: 992px) and (max-width: 1350px){
  .contain-slideshow{
    height: 560px;
  }
}
@media (min-width: 1351px) and (max-width: 1600px){

}